<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AdminMapper">
    <!-- 查询所有菜单-->
    <select id="getMenu" resultType="com.po.Menu">
        select * from menu
    </select>
    <!-- 查询二级菜单-->
    <select id="getSonMenu" resultType="com.po.Menu">
        select * from menu where grade=1
    </select>
    <!-- 查询教师信息-->
    <select id="getTeacher" resultType="com.po.User">
        select * from user where role_id=2
    </select>
    <!-- 查询家长信息-->
    <select id="getParent" resultType="com.po.User">
        select * from user where role_id=3
    </select>
    <!-- 查询学生信息-->
    <select id="getStudent" resultType="com.po.User">
        select * from user where role_id=4
    </select>
    <!-- 查询所有角色-->
    <select id="getRole" resultType="com.po.Role">
        select * from role
    </select>
    <!-- 添加用户-->
    <insert id="addUserSubmit" parameterType="com.po.User">
        insert into user(user_id,name,pwd,phone_no,role_id)
        values(#{user_id},#{name},#{pwd},#{phone_no},#{role_id})
    </insert>
    <!-- 修改用户-->
    <update id="updateUser" parameterType="com.po.User">
        update user set pwd=#{pwd},phone_no=#{phone_no},role_id=#{role_id} where user_id=#{user_id}
    </update>
    <!-- 查询用户-->
    <select id="getUser" resultType="com.po.User" parameterType="com.po.User">
        select * from user
    </select>
    <!--删除用户-->
    <delete id="deleteUser" parameterType="int">
        delete from user where user_Id=#{user_id}
    </delete>
    <!--重置密码-->
    <update id="updatePwd" parameterType="com.po.User">
        update user set pwd=123 where user_id=#{user_id}
    </update>
    <!-- 查询出所有的父级菜单 -->
    <select id="getMenusParent" resultType="com.po.Menu">
		select * from menu where grade=1
	</select>
    <!-- 添加菜单-->
    <insert id="addMenuSubmit" parameterType="com.po.Menu">
        insert into menu(title,url,grade,p_id,sort,remark)
        values(#{title},#{url},#{grade},#{p_id},#{sort},#{remark})
    </insert>
    <!--删除菜单-->
    <delete id="deleteMenu" parameterType="int">
        delete from menu where menu_Id=#{menu_id}
    </delete>
    <!-- 更新菜单-->
    <update id="updateMenu" parameterType="com.po.Menu">
        update menu set title=#{title},url=#{url},grade=#{grade},p_id=#{p_id},sort=#{sort},remark=#{remark}
        where menu_id=#{menu_id}
    </update>
    <!--关联新增角色菜单 -->
    <insert id="addRoleMenu" parameterType="com.po.MenuRole">
		insert into menu_role(role_id,menu_id) values(#{role_id},#{menu_id})
	</insert>
    <!-- 删除角色菜单 -->
    <delete id="deleteRoleMenu" parameterType="int">
		delete from menu_role where mr_id=#{mr_id}
	</delete>
    <!-- 查询角色菜单 -->
    <select id="getRoleMenu" resultType="com.po.MenuRole">
		select * from menu_role order by menu_id
	</select>
    <!-- 添加角色-->
    <insert id="addRoleSubmit" parameterType="com.po.Role">
        insert into role(role_id,name) values(#{role_id},#{name})
    </insert>
    <!-- 删除角色-->
    <delete id="deleteRole" parameterType="int">
		delete from role where role_id=#{role_id}
	</delete>
    <!-- 更新角色-->
    <update id="updateRole" parameterType="com.po.Role">
        update role set name=#{name}
        where role_id=#{role_id}
    </update>
    <!-- 查询课程-->
    <select id="getCourse" resultType="com.po.Course">
		select * from course order by course_id
	</select>
    <!-- 添加课程-->
    <insert id="addCourse" parameterType="com.po.Course">
        insert into course(course_id,name,price,unit,url,sort) values(#{course_id},#{name},#{price},#{unit},#{url},#{sort})
    </insert>
    <!-- 删除课程-->
    <delete id="deleteCourse" parameterType="int">
		delete from course where course_id=#{course_id}
	</delete>
    <!-- 更新课程-->
    <update id="updateCourse" parameterType="com.po.Course">
        update course set name=#{name},price=#{price},unit=#{unit},sort=#{sort}
        where course_id=#{course_id}
    </update>
    <!-- 用户绩效-->
    <resultMap id="UserAchievement" type="com.po.Achievement">
            <id column="achi_id" jdbcType="INTEGER" property="achi_id" />
            <result column="achi_content" jdbcType="VARCHAR" property="achi_content"/>
            <result column="achi_grade" jdbcType="VARCHAR" property="achi_grade"/>
            <result column="user_id" jdbcType="INTEGER" property="user_id"/>
        <association property="user" javaType="com.po.User">
            <id column="user_id" jdbcType="INTEGER" property="user_id" />
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
            <result column="phone_no" jdbcType="VARCHAR" property="phone_no"/>
            <result column="role_id" jdbcType="INTEGER" property="role_id"/>
        </association>
    </resultMap>
    <!-- 查询绩效-->
    <select id="getAchievement" resultMap="UserAchievement">
		select a.achi_id,a.achi_content,a.achi_grade,u.user_id,u.name,u.phone_no from user u,achievement a where a.user_id=u.user_id and u.role_id=2;
	</select>
    <!-- 添加绩效-->
    <insert id="addAchievement" parameterType="com.po.Achievement" useGeneratedKeys="true" keyProperty="Achievement.achi_id">
        insert into achievement(achi_id,achi_content,achi_grade,user_id) values(#{achi_id},#{achi_content},#{achi_grade},#{user_id})
    </insert>
    <!-- 删除绩效-->
    <delete id="deleteAchievement" parameterType="int">
		delete from achievement where achi_id=#{achi_id}
	</delete>

    <!-- 更新绩效-->
    <update id="updateAchievement" parameterType="com.po.Achievement">
        update achievement set achi_content=#{achi_content},achi_grade=#{achi_grade}
        where achi_id=#{achi_id}
    </update>
<!--    &lt;!&ndash; 用户出勤联合&ndash;&gt;-->
<!--    <resultMap id="UserAndAttendance" type="com.po.UserAttendance">-->
<!--        <id column="useratten_id" jdbcType="INTEGER" property="useratten_id" />-->
<!--        <result column="user_id" jdbcType="INTEGER" property="user_id"/>-->
<!--        <result column="atten_id" jdbcType="INTEGER" property="atten_id"/>-->
<!--        <association property="user" javaType="com.po.User">-->
<!--            <id column="user_id" jdbcType="INTEGER" property="user_id" />-->
<!--            <result column="name" jdbcType="VARCHAR" property="name"/>-->
<!--            <result column="pwd" jdbcType="VARCHAR" property="pwd"/>-->
<!--            <result column="phone_no" jdbcType="VARCHAR" property="phone_no"/>-->
<!--            <result column="role_id" jdbcType="INTEGER" property="role_id"/>-->
<!--        </association>-->
<!--        <association property="attendance" javaType="com.po.Attendance">-->
<!--            <id column="atten_id" jdbcType="INTEGER" property="atten_id" />-->
<!--            <result column="atten_times" jdbcType="INTEGER" property="atten_times"/>-->
<!--            <result column="atten_unit" jdbcType="VARCHAR" property="atten_unit"/>-->
<!--            <result column="user_id" jdbcType="INTEGER" property="user_id"/>-->
<!--        </association>-->
<!--    </resultMap>-->
<!--    &lt;!&ndash; 查询出勤&ndash;&gt;-->
<!--    <select id="getAttendance" resultMap="UserAndAttendance">-->
<!--		select * from attendance a,user u,user_attendance ua where ua.atten_id=a.atten_id and ua.user_id=u.user_id and u.role_id=2-->
<!--	</select>-->

</mapper>