<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TeacherMapper">
    <resultMap id="ReplyMsg" type="com.po.ReplyMsg">
        <id column="repmsg_id" jdbcType="INTEGER" property="repmsg_id" />
        <result column="repmsg_content" jdbcType="VARCHAR" property="repmsg_content"/>
        <result column="msg_id" jdbcType="INTEGER" property="msg_id"/>
        <result column="teacher_id" jdbcType="INTEGER" property="teacher_id"/>
        <association property="user" javaType="com.po.User">
            <id column="id" jdbcType="INTEGER" property="id" />
            <id column="user_id" jdbcType="INTEGER" property="user_id" />
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="pwd" jdbcType="VARCHAR" property="pwd"/>
            <result column="phone_no" jdbcType="VARCHAR" property="phone_no"/>
            <result column="role_id" jdbcType="INTEGER" property="role_id"/>
        </association>
        <association property="message" javaType="com.po.Message">
            <id column="msg_id" jdbcType="INTEGER" property="msg_id" />
            <id column="msg_content" jdbcType="VARCHAR" property="msg_content" />
            <result column="parent_id" jdbcType="INTEGER" property="parent_id"/>
            <result column="teacher_id" jdbcType="INTEGER" property="teacher_id"/>
        </association>
    </resultMap>

    <select id="getReplyMsg" resultMap="ReplyMsg">
        SELECT * from reply_msg r,message m,`user` u WHERE r.msg_id=m.msg_id AND r.teacher_id=u.user_id
    </select>
    <insert id="addReplyMsg" parameterType="com.po.ReplyMsg" useGeneratedKeys="true" keyProperty="ReplyMsg.repmsg_id">
        insert into reply_msg(repmsg_id,repmsg_content,msg_id,teacher_id) values (#{repmsg_id},#{repmsg_content},#{msg_id},#{teacher_id})
    </insert>
    <delete id="deleteReplyMsg" parameterType="int">
        delete from reply_msg where repmsg_id=#{repmsg_id}
    </delete>
</mapper>